# Old/backup folders
backup_f90/
backup/
PLAN_done/

# Compiled objects and modules
*.o
*.mod
*.smod

# Executables
*.x

# FITS output files
*.fits
*.fits.gz
*.h5
*.hdf5
*.log
log

# etc
*.png
README_HISTORY
README_HOWTO
*_CHANGES.txt
RAMSES_data_structure_v1.pdf
b040_fbm3d_128

# Editor backups / swap
*~
*.swp
*.bak

# macOS
.DS_Store

# gitignore
.gitignore

# LaTeX files
*.cls
*.tex
*.dvi
*.aux
*.log
*.toc
*.out
*.synctex.gz
*.fls
*.fdb_latexmk
make_pdf.sh
docs/figures/

# Jupyter / python
.ipynb_checkpoints/
*.ipynb
*.pyc
python/AMR_grid/uniform_sphere_slice*.pdf

#CLAUDE
*.md
.claude
!README.md
!README_HOWTO.md
